<div class="footer">
    <div class="f_top">
        <a href="http://www.sgcc.com.cn/"><img src="<{$smarty.const.IMG}>bottom1.png" alt=""/></a>
        <a href="http://www.chd.com.cn/"><img src="<{$smarty.const.IMG}>bottom2.png" alt=""/></a>
        <a href="http://www.csg.cn/"><img src="<{$smarty.const.IMG}>bottom3.png" alt=""/></a>
        <a href="http://www.baidu.com/"><img src="<{$smarty.const.IMG}>bottom4.png" alt=""/></a>
    </div>
    <div class="f_center">
        <div class="f_c_top">
            <a href="#">首页</a>
            | <a href="#">公司概况</a>
            | <a href="">新闻中心</a>
            | <a href="">产品介绍</a>
            | <a href="">技术服务</a>
            | <a href="">公司动态</a>
            | <a href="">招贤纳士</a>
            | <a href="">联系我们</a>
            | <a href="">客户留言</a>
        </div>
        <div class="f_c_bottom">
            <p>地址：北京密云经济开发区科技路32号25号厂房-9</p>
            <p>电话：010-88182286；0633-2959791 传真：010-88181071</p>
            <p> 山东办事处地址：山东省日照市黄海一路56号佰富时代商务楼</p>
            <p>销售热线：0633-2959791；2959792 传真0633-2959799</p>
            <p><a href="#"> 网站建设技术支持：新翼科技</a></p>
        </div>
    </div>
</div>
</body>
</html>