<!doctype html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <title>北京华电恒瑞电力工程技术有限公司</title>
    <meta name="keywords" content="华电恒瑞;华电恒瑞集团;北京华电"/>
    <meta name="description" content="高低压开关及成套设备生产销售"/>
    <link rel="stylesheet" href="<{$smarty.const.CSS}>index.css" type="text/css"/>
    <link rel="shortcut icon" href="<{$smarty.const.IMG}>electricity.png" type="image/x-icon"/>
    <script src="<{$smarty.const.JS}>jquery-2.0.3.min.js"></script>
    <script src="<{$smarty.const.JS}>menu.js"></script>
</head>
<body>
<!-- header start-->
<div class="header">
    <!-- h_right start -->
    <div class="h_right">
        <a href="#">设为首页</a>
        <a href="#">加入收藏</a>
    </div>
    <!-- end h_right -->
    <div class="h_icon">
    </div>
    <!-- h_nav start -->
    <div class="h_nav">
        <div class="h_n_left" id="h_n_left">
        	<{if isset($nav)}>
        	<{foreach $nav as $v}>
        		<{if $v['id'] eq '1'}><a href="http://www.huadian.com" <{if !isset($smarty.get.cid)}>class="n_hover"<{/if}>> <{$v['title']}></a>
     			<{else}>
     			<a href="http://www.huadian.com?cid=<{$v['id']}>" <{if isset($smarty.get.cid)&& ($smarty.get.cid eq $v['id'])}>class="n_hover"<{/if}>><{$v['title']}></a>
        		<{/if}>
            <{/foreach}>
            <{/if}>
        </div>
        <div class="h_n_search">
            <form action="" method="get">
                <input type="hidden" name="" value="home"/>
                <input type="hidden" name="" value=""/>
                <input type="hidden" name="" value=""/>
                <input type="text" name="con" class="search h_n_input" id="search"/>
                <input type="submit" name="sub" value="搜索" class="sub h_n_input" id="sub"/>
            </form>
        </div>
    </div>
    <!-- end h_nav-->
</div>
<!-- end header -->

