<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>华瑞后台管理系统</title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link href="<{$smarty.const.CSS}>admin.css" type="text/css" rel="stylesheet"/>
    <link href="<{$smarty.const.IMG}>icon.ico" type="image/x-icon" rel="shortcut icon"/>
    <script src="<{$smarty.const.JS}>jquery-1.8.3.min.js" type="text/javaScript"></script>
    <script src="<{$smarty.const.JS}>menu.js" type="text/javaScript"></script>
    <script type="text/javascript" charset="utf-8" src="<{$smarty.const.JS}>/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="<{$smarty.const.JS}>/ueditor/ueditor.all.js"> </script>
    </head>
<body>
<div class="first-flash" id="first-flash">
    <embed src="<{$smarty.const.IMG}>flash4102.swf">

</div>
<div class="top"></div>
<div id="header">
    <div class="logo">华瑞后台管理系统</div>
    <div class="navigation">
        <ul>
            <li>欢迎您！</li>
            <li><a href=""><{if isset($username)}><{$username}><{/if}></a></li>
            <li><a href="">修改密码</a></li>
            <li><a href="">设置</a></li>
            <li><a href="?p=back&c=index&m=signOut">退出</a></li>
        </ul>
    </div>
</div>
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            <{if isset($data)}>
            <{foreach $data as $k=>$v}>
                <li>
                    <{if $k === 0}>
                    <h4 class="M<{$k}>" id="nav_h4"><span></span><{$v['name']}></h4>
                    <div class="d_hidden" id="d_hidden">
                        <p>
                            <a href="<{$v['href']}>&sid=<{$v['id']}>&a=1">企业简介</a>
                        </p>
                        <p>
                            <a href="<{$v['href']}>&sid=<{$v['id']}>&a=2">企业文化</a>
                        </p>
                        <p>
                            <a href="<{$v['href']}>&sid=<{$v['id']}>&a=3">资质建设</a>
                        </p>
                    </div>
                    <{else}>
                    <h4 class="M<{$k}>"><span></span><a href="<{$v['href']}>&sid=<{$v['id']}>"><{$v['name']}></a></h4>
                    <{/if}>
                </li>
            <{/foreach}>
            <{else}>
                <li>
                    <h4 class="M0"><span></span><a href="?p=back&c=admin&m=show&id=1">公司概况</a></h4>
                </li>
                <li>
                    <h4 class="M1"><span></span><a href="?p=back&c=admin&m=show&id=2">新闻中心</a></h4>
                </li>
                <li>
                    <h4 class="M2"><span></span><a href="?p=back&c=admin&m=show&id=3">招贤纳士</a></h4>
                </li>
                <li>
                    <h4 class="M3"><span></span><a href="?p=back&c=admin&m=show&id=4">产品模块</a></h4>
                </li>
                <li>
                    <h4 class="M4"><span></span><a href="?p=back&c=admin&m=show&id=5">客户留言</a></h4>
                </li>
            <{/if}>

        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="<{$smarty.const.IMG}>home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="http://www.huadian.com/?p=back&c=admin&m=index">首页</a></li>

                <{if isset($smarty.get.sid)}>
                <{foreach $data as $v}>
                <{if $smarty.get.sid eq $v['id']}>
                <li>></li>
                <li><a href="<{$v['href']}>&sid=<{$v['id']}>"><{$v['name']}></a></li>
                <{break}>
                <{/if}>
                <{/foreach}>
                <{/if}>
            </ul>
        </div>
        <div class="main">
            <!-- 操做成功 开始 -->
            <div class="success" id="success">
            </div>
            <div class="s_time" id="s_time">
                <h2>操作成功</h2>
                <p><span id="second">5</span> 秒 页面跳转中 , 请稍后 ....</p>
                <p>如无法正常跳转 , 请点击 <a href="?p=back&c=<{if isset($smarty.get.c)}><{$smarty.get.c}><{/if}>&m=show<{if isset($smarty.get.sid)}>&sid=<{$smarty.get.sid}><{/if}>" title="点击跳转">跳转</a></p>
            </div>
            <!-- 操作成功结束 -->