<{include file="../public/_header.html"}>
<!-- center start -->
<div class="center">
    <ul>
        <li>
            <a href="#">
                <img src="<{$smarty.const.IMG}>20161223030922585.jpg" alt="公司图片" height="470" width="1350"/>
            </a>
        </li>
    </ul>
</div>

<!-- end center -->
<!-- company-detail start -->
<div class="company-detail">
    <!-- cd_left start -->
    <div class="cd_left">
        <div class="cd_l_top">
            <ul id="cd-a">
                <li id="bg_blue"><span>公司概况</span></li>
                <li><a href="#">企业简介</a></li>
                <li><a href="#">资质建设</a></li>
                <li><a href="#">企业文化</a></li>
            </ul>
        </div>
        <div class="cd_l_bottom">
            <a href="#"><img src="<{$smarty.const.IMG}>c_13.jpg" alt=""/></a>
        </div>
    </div>
    <!-- end cd_left-->
    <!-- cd_right start -->
    <div class="cd_right">
        <!-- cd_r_top start -->
        <div class="cd_r_top" >
            <div class="cd-position">
                <p>当前位置：<a href="http://www.huadian.com">首页</a> > 企业简介</p>
                <h3>企业简介</h3>
            </div>
        </div>
        <!-- end cd_r_top-->
        <div class="cd_content">
            <!-- 内容 开始-->
            <div class="cd_c_p">

                <p>
                    <{if isset($content)}>
                    　　<{foreach $content as $v}>
                        <{if $v['cid'] eq '1'}>
                        <{nl2br($v['content'])}>
                    <{/if}>
                    <{/foreach}>
                    <{/if}>
                </p>
            </div>
            <!-- 内容 结束 -->
            <!--cd-img start -->
            <div class="cd-img">
                <a href="#"><img src="<{$smarty.const.IMG}>20161210024603292.jpg" width='455' height="390" alt=""/></a>
            </div>
            <!-- end cd-img -->
        </div>

    </div>
    <!-- end cd_right -->
</div>
<!-- end company-detail -->
<{include file="../public/_footer.html"}>