<{include file="../public/_header.html"}>
<!-- center start -->
<div class="center">
    <ul>
        <li>
            <a href="#">
                <img src="<{$smarty.const.IMG}>20161223031145941.jpg" alt="公司图片" height="470" width="1350"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="<{$smarty.const.IMG}>20161223031146799.jpg" alt="公司图片" width="1350" height="470"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="<{$smarty.const.IMG}>banner1.jpg" alt="公司图片" width="1350" height="470"/>
            </a>
        </li>
    </ul>
</div>

<!-- end center -->
<!-- detail start -->
<div class="detail">
    <!-- d_left start -->
    <div class="d_left">
        <div class="d_l_top">
            <p class="c1">推荐新闻 <span><a href="" target="" class="more">MORE >></a></span></p>
        </div>
        <div class="d_l_center">
            <div class="l_c_container">
                <div class="c_img">
                    <a href="#"><img src="<{$smarty.const.IMG}>h_20.jpg" alt=""/></a>
                </div>
                <div class="container">
                    <a href="" title="华电恒瑞顺利通过国网山东省电力公司供应商资质能力核实">华电恒瑞顺利通过国网山东省...</a>
                    <p>　　为拓展公司业务范围，规范公司生产行为，我公司参与国网山东省电力公司2016年第二批10kV配网协议库...</p>
                </div>
            </div>
        </div>
        <div class="d_l_bottom">
            <ul>
                <li>
                    <span class="bg_icon"></span>
                    <a href="#">煤层气“十三五”规划：建成2至3个产业化基地</a>
                    <span class="time">2016-12-10</span>
                </li>
                <li>
                    <span class="bg_icon"></span>
                    <a href="#">上半年全国光伏发电新增装机超过20吉瓦</a>
                    <span class="time">2016-07-28</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- end d_left-->
    <!-- d_center start -->
    <div class="d_center">
        <div class="d_l_top">
            <p class="c1">公司简介 <span><a href="" target="" class="more">MORE >></a></span></p>
        </div>
        <div class="d_c_detail">
            <div class="c_d_container">
                <div class="ct2img">
                    <a href="#">
                        <img src="<{$smarty.const.IMG}>20161215105921999.png" alt=""/>
                    </a>
                </div>
                <div >
                    <a href="">
                        北京华电恒瑞电力工程技术有限公司成立于2009年，注册资本5100万元，是电力系统领域一支专业从事输配电开关设备和高低压电气成套设备的团队，销售及服务网络遍布全国各地。
                        公司于北京、山东设立现代化的综合性厂房，拥有一套完整的研发、设计、生产、销售、售后系统，具有新近的技术研发和生产制造能力。公司始终坚持“技术创新，严格管理……
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- end d_center -->
    <!-- d_right start -->
    <div class="d_right">
        <div class="d_l_top" >
            <p >产品介绍 <span><a href="" target="" class="more">MORE >></a></span></p>
        </div>
        <div class="product">
            <ul>
                <li>
                    <div>
                        <a href="#"><img src="<{$smarty.const.IMG}>20161215033652215.jpg" alt="" width="85" height="58"/></a>
                    </div>
                    <p>
                        <a href="#" title="ZW32-12(24)型真空断路器">ZW32-12(24)型真空断路器</a>
                    </p>
                </li>
                <li>
                    <div>
                        <a href="#"><img src="<{$smarty.const.IMG}>20161215034922147.jpg" alt="" width="85" height="58"/></a>
                    </div>
                    <p>
                        <a href="#" title="ZW20A-12型真空断路器">ZW20A-12型真空断路器</a>
                    </p>
                </li>
                <li>
                    <div>
                        <a href="#"><img src="<{$smarty.const.IMG}>20161216100650634.jpg" alt="" width="85" height="58"/></a>
                    </div>
                    <p>
                        <a href="#" title="KYN61-40.5(Z)型开关设备">KYN61-40.5(Z)型开关设备</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- end d_right -->
</div>
<!-- end detail -->
<{include file="../public/_footer.html"}>