<{include file="../public/_header.html"}>
<div class="m-c-news">
    <form action="?p=back&c=info&m=dele&sid=<{$smarty.get.sid}>" method="post">
        <{if isset($content)&&(!empty($content))}>
        <p id="add">
            <button type="submit" id="btn">批量删除</button>
        </p>
        <table id="tab">
            <tr><td>序号</td><td>标题</td><td>留言者</td><td>联系方式</td><td>邮箱</td><td>公司</td><td>地址</td><td>内容</td><td>时间</td><td class="a-td"><span>操作</span></td></tr>
            <{foreach $content as $k=>$v}>
            <tr>
                <{if !empty($v)}>
                <{foreach $v as $key=>$val}>
                <{if $key !== 'isdel'}>
                <{if $key === 'id'}>
                <td class="ids"><input type="checkbox" name='ids[]' value="<{$val}>"/><{$val}></td>
                <{elseif !empty($v[$key])}>
                <td><{$val}></td>
                <{else}>
                <td>无</td>
                <{/if}>
                <{/if}>
                <{/foreach}>
                <td><p>
                    <{if $v['isdel']==='0'}>
                    <button type="button" class="infobox send" disabled='disabled' style="cursor:no-drop;">已发送</button>
                    <{else}>
                    <button type="button" class="infobox send" data-id="<{$v['id']}>">发送</button>
                    <{/if}>
                </p>
                    <p>
                        <a href="?p=back&c=info&m=dele&sid=<{$smarty.get.sid}>&id=<{$v['id']}>"  class="infobox a-dele" onclick="javascript:confirm('确认删除');return false;">删除</a></p></td>
                <{/if}>
            </tr>
            <{/foreach}>
        </table>
        <{/if}>
    </form>
	<{if isset($html)}>
    <table id="page">
        <tr style="text-align:center;"><td colspan="3"><{$html['msg']}></td></tr>

    </table>
	<{/if}>

</div>



<{include file="../public/_footer.html"}>